@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --purple: #3a0347;
    --grey: #022b01;
    --hover: #3cff00;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: var(--hover);
}
li {
    list-style: none;
}
span {
    color: #1d7a00;
}
h3 {
    color: #022b01;
    font-size: xx-large;
    font-weight: 400;
}
#about p {
    font-size: larger;
    font-weight: 300;
    color: #444;
}
#navigation {
    position: fixed;
    top: 0;
    width: 94%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    color: #fff;
    background-color: var(--grey);
    padding: 0.8rem 4rem;
}
nav {
    display: flex;
    justify-items: center;
    align-items: center;
}
nav ul {
    display: flex;
}
nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}
nav ul li:hover {
    font-size: large;
}

/* Home */
#home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(5, 41, 0, 0.841)),
                url('images/home_bg.jpg') no-repeat center center/cover;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home_pg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
    padding: 10px;
    background: rgba(46, 46, 46, 0.295);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(133, 132, 132, 0.342);
    border-radius: 15px;
    margin: auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.788);
}
.home_content {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}
.home_content h1 {
    font-size: 4rem;
    font-weight: 500;
    text-shadow: 12px 14px 16px rgba(0, 0, 0, 0.842);
}
.home_content p {
    font-size: 3rem;
    font-weight: 100;
    text-shadow: 15px 14px 16px rgba(0, 0, 0, 0.842);
}
.btn {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #022b01;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #fff;
}
.btn:hover {
    color: #fff;
    background-color: #022b01;
    box-shadow: 0 1px 32px rgba(255, 255, 255, 0.7);
}
#about {
    height: 100vh;
}
.topic {
    padding: 150px 0 50px 0;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
}

.card img {
    height: 400px;
    border-radius: 30px;
}
body {
    flex-wrap: wrap;
}
.button {
    max-width: fit-content;
    background-color: #022b01;
    padding: 10px;
    border-radius: 10px;
}
.button:hover {
    border: 1px solid;
    background-color: #fff;
    border-radius: 10px;
}
.button a:hover {
    color: #022b01;
    font-size: large;
    font-weight: 600;
}
.text {
    padding: 30px;
}

/* Values */
#values {
    padding: 100px;
}
.value_row {
    display: flex;
}